ul{
    list-style-type: none;
    background-color:rgb(224, 141, 169);
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin:1px 10px 20px 10px;
    text-align: center;
    border: 1px solid rgb(211, 245, 203);
    border-radius: 10px;

}
li a{
    float: left;
    display: block;
    padding: 15px;
    color: rgb(4, 3, 5);
    text-align: center;
    text-decoration: none;
}